body{

	font-family: 'Verdana';

}


header{

	position: relative;
	width: 100vw;
	/*Flexbox Definitions*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}


header h1{


	

}


section.displays{


	position: relative;
	width: 100vw;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}


.display{

	position: relative;
	width: 49vw;
	height: 27vw;
	border: 1px solid #221100;

}

.display video{

	width: 100%;
	height: 100%;

}

footer{

	position: fixed;
	width: 100vw;
	bottom: 0px;
	height: 1.2rem;
	border: 1px solid #221100;

	overflow: hidden;

}

footer div{

	position: relative;
	width: 3000vw;
	
}


/* webrtc.html */


.users{

	position: relative;
	width: 100vw;

}

.visores{

	position: relative;
	width: 100vw;

}

.form{

	margin: 1rem 0rem 3rem 0rem;

}

.clientList__client--selected{

	color: green;
	font-weight: bold;

}


@media (max-width: 800px){

	.display{

		position: relative;
		width: 100vw;
		height: 50vw;
		border: 1px solid #221100;

	}

}

